[Desktop Entry]
Version=1.0
Type=Application
Name=NexaWeb
GenericName=ウェブブラウザ
Comment=NexaOS ウェブブラウザ
Exec=/usr/local/bin/nexaweb %U
Icon=nexaweb
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=NexaWeb
