[Unit]
Description=NexaSearch
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/nexasearch
DynamicUser=yes
ProtectSystem=strict
ProtectHome=yes
NoNewPrivileges=yes
Restart=always

[Install]
WantedBy=multi-user.target
